{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body> 
 
      <div class="image">
        
        <div class="form">
          <div class="card container">
      
              <div class="text-center">
                  <h1 class="text">Access</h1>
              </div>
      
              <form method="post" class="">
      
                  <div >
                    <input type="text" id="userField" class="input" placeholder="User"/>
                  </div>
                
                  <div class="form-outline mb-4">
                    <input type="password" id="passField" class="input" placeholder="Password"/>
                  </div>
                
                  <div>
                      <button type="submit" class="button" id="subButton">Log in</button>
                  </div>
      
                  <div>
                    <p class="text">Not a member? <a href="{% url 'register' %}">Register</a></p>
                  
                  </div>
                </form>
      
          </div>
        </div>
      </div>


    

</body>
</html> 