{% load static %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Register</title>
</head>
<body> 
 
      <div class="image">
        
        <div class="form">
          {% if msg %}
          <div class="alert">
            <p>{{msg}}</p>
          </div>
          {% endif %}
          <div class="card container">
      
              <div class="text-center">
                  <h1 class="text">Register</h1>
              </div>
      
              <form method="post" id="formUsers" name="formUsers" action="/store/">

                {% csrf_token %}

                  <div >
                    <input type="text" name="nameField" id="nameField" class="input" placeholder="Add your name"/>
                  </div>
                  <div>
                    <input type="email" name="emailField" id="emailField" placeholder="Add to e-mail">
                  </div>

                  <div >
                    <input type="text" id="userField" name="userField" class="input" placeholder="Add user"/>
                  </div>
                  
                  <div>
                    <input type="password" name="passField" id="passField" class="input" placeholder="Add password"/>
                  </div>
                
                  <div>
                      <button type="submit" class="button" name="subButton" id="subButton" value="register">Register</button>
                  </div>
      
                  <div class="text-center">
                    <p class="text">you have a account? <a href="{% url 'login' %}">Login</a></p>
                  
                  </div>
                </form>
      
          </div>
        </div>
      </div>


    

</body>
</html> 