@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Michroma&display=swap');

*{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    height: max-content;
}

h1{
    font-weight: 600;
}

.image {
    background-image: url('../images/background_image.jpg');
    background-size: 90rem;
    background-position: center;
    height: 100vh;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.text-center{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 2rem;
    width:max-content;
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.text{
    color: azure;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input{
    font-size: medium;
    height: 1.5rem;
    width: 25rem;
    background-color: azure;
    border: solid rgba(0, 0, 0, 0) 1px;
    border-radius: .3rem;
}

input:hover{
    border: solid black 1px;
}

a{
    text-decoration:none;
    font-style: italic;
    color: rgb(0, 51, 255);
    transition: .3s;
}

a:hover{
    color: red;
}